.changepassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Add background color */
}

.changepassword-wrapper {
  width: 400px;
  padding: 20px;
  background-color: #ffffff; /* Adjust background color */
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.changepassword-form {
  text-align: center;
}

.changepassword-form h2 {
  margin-bottom: 20px;
}

.changepassword-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}

.changepassword-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.changepassword-form button:hover {
  background-color: #45a049;
}

.changepassword-form a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
}
